.todo-list{
    & > li {
        cursor: pointer;
    }
    & > li.completed {
        color: #ccc;
        font-style: italic;
        text-decoration: line-through;
    }
}
.btn-click{
    cursor: pointer;
    font-weight: 700;
    line-height: 2rem;
    border-radius: 100px;
    background-color: rgb(157, 171, 189);
    width: 150px;
    height: 50px;
}
.btn-click:hover{
    background-color: rgb(5, 93, 175);
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}